$container: 0 calc(50vw - 400px);
$grey: rgba(222, 222, 222, 1);

.content{
  padding: 3rem 3rem 0;
}

.page-enter-active, .page-leave-active {
  transition: opacity .3s;
}
.page-enter, .page-leave-to {
  opacity: 0;
}
